asgiref==3.5.2
async-generator==1.10
attrs==22.1.0
beautifulsoup4==4.11.1
bleach==5.0.1
bs4==0.0.1
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
Django==3.2.15
django-cors-headers==3.13.0
django-summernote==0.8.20.0
djangorestframework==3.13.1
dload==0.6
h11==0.13.0
idna==3.3
image==1.5.33
outcome==1.2.0
Pillow==9.2.0
pycparser==2.21
PyMySQL==1.0.2
PySocks==1.7.1
pytz==2022.2.1
requests==2.28.1
selenium==4.4.3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.3.0
urllib3==1.26.11
webencodings==0.5.1
whitenoise==6.2.0
wsproto==1.1.0
